<div *ngIf="!isAuthenticated" class="ui container">
    You must be logged in, to track your results!
</div>
<div *ngIf="isAuthenticated" class="ui container">
    <div class="ui light font header">My Goals</div>
    <div class="ui stackable three column grid">
        <div class="mobile only row">
            <div class="column">
                <div class="ui centered mobile leaderboard test ad" data-text="Mobile Banner"></div>
            </div>
        </div>
        <div class="four wide column">
            <form class="ui form" id="addGoalForm">
                <div class="ui required {{goalInError ? 'error' : ''}} field">
                    <label>What is your goal? <span class="red">{{goalInError ? ' - Required' : ''}}</span></label>
                    <input type="text" name="goal-title" [(ngModel)]="goal.title">
                </div>
                <div class="ui field">
                    <label>What's the date on it?</label>
                    <input type="date" [(ngModel)]="goal.date">
                    <input type="hidden" [(ngModel)]="goal.status" value="Pending">
                    <br>
                    <br>
                    <p id="dateLabels">
                        <a class="pointable item" (click)="setGoalDate(0)">
                            <div class="ui teal horizontal label">Today</div>
                        </a>
                        <a class="pointable item" (click)="setGoalDate(1)">
                            <div class="ui teal horizontal label">Tomorrow</div>
                        </a>
                        <a class="pointable item" (click)="setGoalDate(7)">
                            <div class="ui teal horizontal label">Next week</div>
                        </a>
                        <a class="pointable item" (click)="setGoalDate(31)">
                            <div class="ui teal horizontal label">Next month</div>
                        </a>
                    </p>
                </div>
                <div class="ui field">
                    <div class="ui fluid primary button" (click)="addGoal(goal)">
                        Add goal
                    </div>
                </div>
                <div class="ui field">
                    <label>Filter your goals</label>
                    <input type="text" [(ngModel)]="search">
                </div>
            </form>
        </div>
        <div class="ten wide column">
            <div class="ui basic segment">
                <div class="ui small header">
                    <i class="ui large yellow trophy icon"></i>
                    My Progress
                </div>
                <div class="ui tiny indicating progress" *ngIf="goals.length">
                    <div class="bar">
                    </div>
                    <div class="label" *ngIf="getCompletedGoals() > 0">
                        <span *ngIf="getOutstandingGoals() > 0">{{getCompletedGoals()}} {{getCompletedGoals() === 1 ? 'goal is off the list' : 'goals are off the list'}}, only {{getOutstandingGoals()}} left! That's around {{getCompletedGoalsPercentageAsNumber()}}%</span>
                        <span *ngIf="getOutstandingGoals() === 0">Well done, you have achieved everything, you've listed here!</span>
                    </div>
                </div>
                <div class="ui tiny light font header" *ngIf="!goals.length">
                    <img src="/images/cricket.png" class="ui image"> No goals have been set, come on!
                </div>
            </div>
            <div class="ui stackable two column grid">
                <div *ngFor="let goal of goals | search: search" class="row">
                    <div class="twelve wide column">
                        <div class="ui two column grid">
                            <div class="one wide column">
                                <i class="large {{goal.status === 'Completed' ? 'green checkmark' : 'grey wait'}} middle aligned icon"></i>
                            </div>
                            <div class="fourteen wide column">
                                <div class="editable list content">
                                    <div class="ui tiny marginless header">
                                        <input type="text" id="title-for-{{goal.id}}" (change)="editGoal(goal)"
                                               value="{{goal.title}}">
                                    </div>
                                    <div class="description">
                                        <input type="date" id="date-for-{{goal.id}}" (change)="editGoal(goal)"
                                               value="{{goal.date}}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="four wide actions column">
                        <div class="ui right floated basic segment">
                            <div class="ui icon button" (click)="completeGoal(goal)"
                                 *ngIf="goal.status !== 'Completed'">
                                <i class="ui checkmark icon"></i>
                            </div>
                            <div class="ui icon button" (click)="resumeGoal(goal)" *ngIf="goal.status !== 'Pending'">
                                <i class="ui history icon"></i>
                            </div>
                            <div class="ui icon button" (click)="deleteGoal(goal)">
                                <i class="ui trash icon"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="two wide tablet computer only column">
            <div class="ui wide skyscraper test ad" data-text="Wide Skyscraper"></div>
        </div>
    </div>
    <div class="ui grid">
        <div class="mobile only row">
            <div class="column" id="floating-add-button">
                <div class="ui red circular icon button" (click)="scrollToView('.centered.mobile.leaderboard.ad')">
                    <i class="plus sign icon"></i>
                </div>
            </div>
        </div>
    </div>
</div>