<div #loginModal class="ui small modal" id="loginModal">
    <div class="content">
        <div class="ui light font header">Log in</div>
        <form class="ui form" id="loginForm">
            <p>
                No registration required, simply log in with your preferred social media account.
            </p>
            <div class="ui fields">
                <div class="ui field">
                    <button class="ui fluid facebook button" (click)="loginWithProvider('facebook')">
                        <i class="facebook icon"></i>
                        Facebook
                    </button>
                </div>
                <div class="ui field">
                    <button class="ui fluid google plus button" (click)="loginWithProvider('google')">
                        <i class="google plus icon"></i>
                        Google Plus
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="actions">
        <div class="ui light font button" (click)="close()">
            Close
        </div>
    </div>
</div>