<div class="ui stackable one column grid">
    <div class="row">
        <div id="hero-image" class="ui tablet computer only column">
            <div class="ui container">
                <div class="ui large inverted secondary stackable menu" id="navigation">
                    <a class="light font item" routerLink="/home" routerLinkActive="active">Home</a>
                    <a class="light font item" routerLink="/goals" routerLinkActive="active">My Goals</a>
                    <div class="right menu">
                        <a class="light font {{user.displayName ? 'hidden' : ''}} item" (click)="showLoginModal()">Log
                            in</a>
                        <img class="ui avatar {{user.displayName ? '' : 'hidden'}} image" src="{{user.photoURL}}">
                        <a class="light font {{user.displayName ? '' : 'hidden'}} item" (click)="showLoginModal()">{{user.displayName}}</a>
                        <a class="light font {{user.displayName ? '' : 'hidden'}} item" (click)="logout()">Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <login></login>
            <div id="routerOutletContainer">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="mobile only column" id="navigation-mobile">
            <div class="ui three item secondary icon menu">
                <a class="item" routerLink="/home" routerLinkActive="active">
                    <img src="/images/home.png" class="ui image">
                </a>
                <a class="item" routerLink="/goals" routerLinkActive="active">
                    <img src="/images/script.png" class="ui image">
                </a>
                <a class="{{user.displayName ? 'hidden' : ''}} item" (click)="showLoginModal()">
                    <img src="/images/user.png" class="ui image">
                </a>
                <a class="{{!user.displayName ? 'hidden' : ''}} item" (click)="logout()">
                    <img src="/images/lock-locked.png" class="ui image">
                </a>
            </div>
        </div>
    </div>
</div>