body, html {
    width: 100%;
}

html.ios {
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

.light.font {
    font-family: "Myriad Set Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif !important;
    line-height: 1.0556 !important;
    font-weight: 200 !important;
}

#hero-image {
    /*background: url('/images/hero_image.jpg') no-repeat center center;
    background-size: cover;*/
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#499dc6+0,75b5b5+46,a03b98+100 */
    background: rgb(73, 157, 198); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(73, 157, 198, 1) 0%, rgba(117, 181, 181, 1) 46%, rgba(160, 59, 152, 1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(73, 157, 198, 1) 0%, rgba(117, 181, 181, 1) 46%, rgba(160, 59, 152, 1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(73, 157, 198, 1) 0%, rgba(117, 181, 181, 1) 46%, rgba(160, 59, 152, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#499dc6', endColorstr='#a03b98', GradientType=1); /* IE6-9 fallback on horizontal gradient */
    width: 100% !important;
    padding: 0;
    margin: 0 auto 1rem;
}

#hero-text {
    position: relative;
    text-align: center;
    font-size: 24px;
    font-weight: 200 !important;
}

#pageDimmer {
    z-index: 0;
    width: 1px;
    height: 1px;
    position: fixed;
    bottom: 0;
    right: 0;
    -webkit-transition: background-color 0.25s ease-in-out;
    -moz-transition: background-color 0.25s ease-in-out;
    -ms-transition: background-color 0.25s ease-in-out;
    -o-transition: background-color 0.25s ease-in-out;
    transition: background-color 0.25s ease-in-out;
}

#pageDimmer.active {
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 10;
    width: 100%;
    height: 100%;
}

#loginForm .button {
    margin-bottom: 0.25rem;
}

.red {
    color: red;
}

.pointable {
    cursor: pointer;
}

#dateLabels {
    line-height: 2rem;
}

.hidden {
    display: none !important;
}

.avatar.image {
    position: relative;
    top: 0.5rem;
    right: -0.5rem;
}

.editable.content input {
    width: 100%;
    border: 0;
    background: rgba(0, 0, 0, 0) none;
    box-shadow: none;
}

.marginless {
    margin: 0 !important;
}

.four.wide.actions.column .segment {
    padding: 0;
}

#routerOutletContainer {
    margin-top: 1rem;
    margin-bottom: 5rem;
}

#navigation-mobile {
    border-top: 1px solid #dadbdc;
    background-color: #f8f8f8;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 0 !important;
}

#navigation-mobile .item.active {
    color: #4184F3;
}

#floating-add-button {
    position: fixed;
    bottom: 5rem;
    left: calc(100% - 6rem);;
}